/* Estilos para la barra de navegación en la parte superior */
header {
  background-color: rgb(var(--shark-950)); /* Color de fondo */
  color: rgb(var(--shark-50)); /* Color del texto */
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem; /* Espaciado interior */
}

/* Contenedor para la barra de navegación */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* Estilos para el logo en la barra de navegación */
.header-logo {
  display: flex;
  align-items: center;
  width: 80px;
}

/* Estilos para los enlaces de navegación en la barra */
.header-nav-links {
  background: #292c2f; /* Fondo del menú desplegable */
  display: none;
  flex-direction: column; /* Diseño de columna para los enlaces */
  align-items: center;
  position: absolute;
  top: 0;
  right: -80%; /* Inicialmente oculto en el lado derecho */
  width: 80%; /* Ancho del menú desplegable */
  height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  z-index: 100; /* Capa z para la superposición */
  overflow: auto;
}

/* Estilos para el fondo oscuro del menú desplegable */
#hide-menu-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
  z-index: 99; /* Capa z inferior para la superposición */
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.header-nav-link {
  width: 100%;
  border-bottom: 1px solid rgb(var(--shark-800)); /* Línea divisoria entre enlaces */
  transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
}

/* Estilos al pasar el mouse por los enlaces en el menú desplegable */
.header-nav-link:hover {
  background: rgb(var(--shark-800)); /* Color de fondo al pasar el mouse */
}

/* Estilos para el enlace activo en el menú desplegable */
.header-nav-link.active:hover {
  background: none; /* Eliminar el fondo al pasar el mouse sobre el enlace activo */
}

/* Estilos para los enlaces de navegación en la barra */
.header-nav-link a {
  display: flex;
  gap: 0.5rem; /* Espacio entre elementos */
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  line-height: 2;
  color: inherit; /* Color del texto */
  font-size: 1.1rem;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  box-sizing: border-box;
}

/* Estilos al pasar el mouse por los enlaces de navegación */
.header-nav-link a:hover {
  opacity: 0.5;
}

/* Estilos para el enlace activo en la barra de navegación */
.header-nav-link.active a {
  pointer-events: none; /* No se puede hacer clic en el enlace activo */
  color: rgb(var(--shark-500));
}

/* Estilos para el botón de menú desplegable en dispositivos móviles */
#show-menu {
  cursor: pointer;
  background: rgb(var(--shark-900));
  display: flex;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: inherit;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

/* Estilos al pasar el mouse por el botón de menú desplegable */
#show-menu:hover {
  opacity: 0.8; /* Opacidad al pasar el mouse */
}
